@model ScientificEdition.Areas.Admin.Models.Journal.JournalInputModel

@{
    ViewData["Title"] = "Редагування видання";
}

<div class="container mt-5 col-lg-9">
    <h2>Редагувати видання: @Model.Title</h2>

    <form asp-action="Edit" method="post">
        <input hidden asp-for="Id" />
        <input hidden asp-for="CategoryId" />

        <div class="mb-3">
            <label asp-for="Title" class="form-label">Назва</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Description" class="form-label">Опис</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Зберегти зміни</button>
            <a class="btn btn-secondary" href="@Url.Action("Index", "Journals")">Скасувати</a>
        </div>
    </form>

    <a class="btn btn-link" href="@Url.Action("Index", "Journals")">Повернутись до списку</a>
</div>
