@page
@using ScientificEdition.Data
@model ScientificEdition.Areas.Admin.Pages.IndexModel
@{
    ViewData["Title"] = "Панель керування";
}

<h1>Панель керування</h1>

<div class="container mt-4">
    <h3>Швидкий доступ</h3>

    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Користувачі</h5>
                    <a href="@Url.ActionLink("Index", "Users", new { role = UserRoles.Author })" class="btn btn-primary">Автори</a>
                    <a href="@Url.ActionLink("Index", "Users", new { role = UserRoles.Reviewer })" class="btn btn-primary">Рецензенти</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Наукові роботи</h5>
                    <a href="@Url.ActionLink("Index", "Articles")" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Категорії</h5>
                    <a href="@Url.ActionLink("Index", "Category")" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
    </div>
</div>
