@{
    ViewData["Title"] = "Про проект";
}
<h1>@ViewData["Title"]</h1>

<p>Проект розроблено в рамках практичної частини кваліфікаційної роботи на тему "Розробка автоматизованої системи керування версіями наукового видання".</p>
<p>Олександр Котенко - <a href="https://www.linkedin.com/in/oleksandrkotenko/">LinkedIn</a></p>
<p>cтудент 26Мд-Комп групи <br />фізико-математичного факультету <br />Житомирського державного університету імені Івана Франка</p>
